<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_with url: sessions_path, local: true do |f| %>
  <div class="input-field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="input-field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
