<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_with(model: @user) do |form| %>
  <div class="input-field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div class="input-field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="input-field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="input-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
