<div class="container">
  <div class="section">
    <div class="section">
      <h2 class="center-align"><%= @user.first_name %> <%= @user.last_name %></h2>
    </div>
    <div class="divider"></div>

    <% if @logged_in %>
      <div class="section">
        <%= link_to "Unanswered Questions", user_unanswered_questions_path(@user), class:"btn" %>
      </div>
    <% else %>
      <h4 class="teal-text">Having a problem?</h4>
      <p> Ask a question to <%= @user.first_name %> and let him personally respond to you </p>
      <%= form_with(scope: :questions, url: user_questions_path(@user) ,local: true) do |form| %>
        <div class="row">
          <div class="col s11">
            <div class="input-field">
              <%= form.label :question  %>
              <%= form.text_field :question, required:true, class:"validate" %>
            </div>
          </div>
          <div class="input-field col s1">
            <%= form.submit "Ask", class:" waves-effect waves-light btn" %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= render "questions/question_list", question_list: @page ? @page.elements : [] %>

    <%= render "pagination/pagination", page_number: @page_number ,user:@user ,total_pages: @pages.total_pages %>
  </div>
</div>


<% if @logged_in && params[:page].nil? %>
  <script type="text/javascript">
    $(function(){
      Materialize.toast('You have <%= @user.questions.where(answer: nil).count %> questions that need to be answered', 8000)
    });
  </script>
<% end %>

