<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

First name: <%= @user.first_name %>
last_name: <%= @user.last_name %>

<%= form_with(scope: :questions, url: user_questions_path(@user) ,local: true) do |form| %>
  <div class="input-field">
    <%= form.label :question %>
    <%= form.text_field :question %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<% @user.questions.each do |question| %>
  <div class="section"> <%= question.question %> </div>
<% end %>
