<!DOCTYPE html>
<html>
<head>
  <title>DevelopMe</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body>

  <%= render "layouts/nav" %>

  <% flash.each do |name, msg| %>
    <% color = flash_color_for(name) %>
    <div class="card-panel <%= color %> lighten-5 <%= color %>-text text-darken-3"> <%= msg %> </div>
  <% end %>

  <main>
    <%= yield %>
  </main>

  <%= render "layouts/footer" %>

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
</body>
</html>
