<!DOCTYPE html>
<html>
  <head>
    <title>DevelopMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render "layouts/nav" %>
<!--

  <div class="parallax">
    <img src="parallax-gradient-image.jpg" alt="Unsplashed background img 1" style="transform: translate3d(-50%, 218.858px, 0px); opacity: 1;">
  </div> -->

    <main>
      <%= yield %>
    </main>


    <%= render "layouts/nav" %>
  <!-- Scripts -->
  <!-- <script src="https://code.jquery.com/jquery-2.1.1.min.js"> -->
  <!-- </script> -->
  <!-- <script src="../../bin/materialize.js"></script> -->
  <!-- <script src="js/init.js"></script> [Don't Know if this even goes in here or is correct script src] -->

  <div class="sidenav-overlay"></div>
  <div class="drag-target"></div>
  </body>
</html>
